* {
  box-sizing: border-box;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(241, 238, 233);
  font-size: 2em;
  font-family: "Cabin Sketch", cursive;
}
.heading {
  padding: 10px 0;
  font-family: "Monoton", cursive;
  background-color: rgb(240, 224, 205);
  border: 2px solid rgb(240, 224, 205);
}
.heading:hover {
  color: white;
  background-color: black;
}
.container_question {
  font-size: 2rem;
  margin: 10px 0;
  font-weight: bold;
}
.container_options p {
  margin: 20px 0;
  font-size: 2rem;
  transition: all 0.2s;
}
.container_options p:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#btn_start {
  margin: 10px 0;
  font-size: 2rem;
  font-family: "Cabin Sketch", cursive;
  line-height: 1.5;
  background-color: rgb(241, 238, 233);
  border-radius: 5px;
  transition: all 0.1s;
}
#btn_start:hover {
  cursor: pointer;
  background-color: rgb(202, 182, 147);
  transform: translateY(-5px);
}

.player-clicked {
  background-color: rgb(212, 194, 154);
}
.hand {
  color: rgb(117, 219, 117);
  font-size: 2.2rem;
}
.hidden {
  display: none;
}
.music {
  color: rgb(240, 224, 205);
}
.container_timer {
  font-size: 2rem;
  padding: 10px;
}
.clock {
  margin: 20px;
}
.opaque {
  opacity: 0;
}
